<div class="card bg-light h-100">
  <div class="card-body">
    <h3 class="card-title"><%= name %></h3>
    <p class="card-text"><%= mission %></p>
    <table class="table">
    <tbody>
      <tr>
        <th scope="row">City</th>
        <td><%= location %></td>
      </tr>
      <tr>
        <th scope="row">Pad</th>
        <td><%= pad %></td>
      </tr>
      <tr>
        <th scope="row">Coordinates</th>
        <td>(<%= lat %>, <%= long %>)</td>
      </tr>
      <tr>
        <th scope="row">Rocket Family</th>
        <td><%= rocket %></td>
      </tr>
      <tr>
        <th scope="row">Launch Service</th>
        <td><%= lsp %></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>